/*Tema 2 - PowerRed*/

$custom-color: #ba0c16 !default;

.card {
   border: 0;
   background: transparent;
}

.flex-fill.d-flex.flex-column.justify-content-center.py-4.mt-4 {
   width: 525px;
   background: #ffffffde;
   margin: 0px auto !important;
}

.col-md-5 {
   margin: 0 !important;
   width: 100%;
}

h2.card-header.text-center.mb-4 {
   display: none;
}

.flex-fill.d-flex.flex-column.justify-content-center.py-4.mt-4 {
   min-height: 711px;
   width: 525px;
   background: rgb(255 255 255 / 90%);
   border-radius: 0;
   box-shadow: 0 4px 30pxrgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border: 1pxsolidrgba(255, 255, 255, 0.3);
   margin: 0px auto !important;
   height: 100% !important;
}

span.glpi-logo.mb-4 {
   margin: 0 !important;
}

button.btn.btn-primary.w-100 {
   color: #ffffff;
   padding: 11px;
   border-radius: 30px;
   background: #013453;
   border: 0;
}

.btn-primary,
.btn-outline-primary,
.btn-ghost-primary {
   --tblr-btn-color: #71090e;
   --tblr-btn-color-interactive: #8d0a10;
   --tblr-btn-color-text: #1e293b;
}

.form-control:focus {
   color: inherit;
   background-color: #fdfdfd;
   border-color: #b90e16;
   outline: 0;
   box-shadow: 0 0 0 0.25rem rgb(185 14 22 / 27%);
}

.mb-3,
.mb-4 {
   position: relative;
}

.mb-3:after {
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
   content: "\f007";
   position: absolute;
   right: 20px;
   color: #6a6969;
   top: 36px;
}

.mb-4:before {
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
   content: "\f023";
   position: absolute;
   right: 20px;
   color: #6a6969;
   top: 36px;
}

.card {
   border: 0 none;
   box-shadow: none !important;
}

label.form-label {
   display: none;
   color: #fff;
}

span.form-label-description {
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: left;
   width: 100%;
   display: block;
}