/*Tema 7 - Aurora Boreal*/

$custom-color: #fff !default;

body .card {
   border: 0;
   background: transparent;
}

.flex-fill.d-flex.flex-column.justify-content-center.py-4.mt-4 {
   width: 525px;
   background: transparent;
   margin: 0px auto !important;
}

.col-md-5 {
   margin: 0 !important;
   width: 100%;
}

h2.card-header.text-center.mb-4 {
   display: none;
}

.flex-fill.d-flex.flex-column.justify-content-center.py-4.mt-4 {
   min-height: 711px;
   width: 525px;
   background: transparent;
   border-radius: 0;
   box-shadow: 0 4px 30pxrgba(0, 0, 0, 0.1);
   -webkit-backdrop-filter: blur(5px);
   border: 1pxsolidrgba(255, 255, 255, 0.3);
   margin: 0px auto !important;
   height: 100% !important;
}

span.glpi-logo.mb-4 {
   margin: 0 !important;
}

button.btn.btn-primary.w-100 {
   background: #BA0C16;
   color: #fff;
   padding: 11px;
   border-radius: 30px;
}

.btn-primary,
.btn-outline-primary,
.btn-ghost-primary {
   --tblr-btn-color: #71090e;
   --tblr-btn-color-interactive: #8d0a10;
   --tblr-btn-color-text: #1e293b;
}

body .form-control:focus {
   color: inherit;
   background-color: #fdfdfd;
   border-color: #b90e16;
   outline: 0;
   box-shadow: 0 0 0 0.25rem rgb(185 14 22 / 27%);
}

.mb-3,
.mb-4 {
   position: relative;
}

.mb-3:after {
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
   content: "\f007";
   position: absolute;
   right: 20px;
   color: #6a696982;
   top: 12px;
}

.mb-4:before {
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
   content: "\f023";
   position: absolute;
   right: 20px;
   color: #6a696982;
   top: 12px;
}

.col-md-5 {
   margin: 0 !important;
   width: 100%;
   max-width: 289px;
}

body .form-control {
   display: block;
   width: 100%;
   padding: 0.7375rem 0.75rem;
   font-size: 0.875rem;
   font-weight: 400;
   line-height: 1.4285714286;
   color: inherit;
   background-color: #fdfdfd;
   background-clip: padding-box;
   border: 1px solid #d9dbde;
   appearance: none;
   border-radius: 34px;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button.btn.btn-primary.w-100 {
   background: transparent;
   color: #fff;
   padding: 11px;
   border-radius: 30px;
   border: 1px solid #fff;
}

a {
   color: #73fff9 !important;
   text-decoration: none;
}

label.form-label {
   display: none;
   color: #fff;
}

.card-body {
   margin: 0 auto;
   width: 350px;
   max-width: 100%;
}